<%= form_with(model: [@post.author, @post, @comment], url: user_post_comments_path(@post.author, @post), remote: true) do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% @comment.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :text %>
    <%= form.text_area :text, class: 'form-control', placeholder: 'Type your comment here' %>
  </div>

  <%= form.submit 'Create Comment', class: 'btn btn-primary' %>
<% end %>