 <% if @posts.any? %>


<div class="users-list">

    <div class="user">
      <%= image_tag "clement-m-F_-0BxGuVvo-unsplash.jpg", class: "user-avatar" %>
      <div class="user-info">
        <h2><%= @user.name%></h2>
        <p><%= pluralize(@user.posts_count, 'post') %></p>
      </div>
    </div>
</div>
<div class="recent-posts">
  <h3>Recent Posts:</h3>
  <% @posts.each do |post| %>
    <div class="post">
      <h4><%= link_to post.title, user_post_path(id: post.id, user_id: @user.id) %></h4>
      <p><%= post.text %></p>
      <div class="post-stats">
        <span><%= post.comments_count %> comments</span>
        <span><%= post.likes_count %> likes</span>
      </div>
      <div class="comments">
        <% post.recent_comments.each do |comment| %>
          <div class="comment">
            <span><%= comment.author.name %>:</span>
            <p><%= comment.text %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= button_to "Pagination", users_path, method: :get %>
<div class="new-post">
  <p>Add another post</p>
  <%= link_to 'Add New', new_user_post_url(@user), class: "new-post-link" %>

</div>
<%= link_to 'Back', user_path(@user.id) %>
</div>
 <% else %>
<div class="new-post">
  <%= link_to 'Add New Post', new_user_post_url(@user), class: "new-post-link" %>
</div>
<%= link_to 'Back', user_path(@user.id) %>
<%end%>