<div class="users-list">
    <div class="user">
      <%= image_tag "clement-m-F_-0BxGuVvo-unsplash.jpg", class: "user-avatar" %>
      <div class="user-info">
        <h2><%= @user.name%></h2>
        <p><%= pluralize(@user.posts_count, 'post') %></p>
      </div>
    </div>
</div>
<div class="recent-posts">
  <h3>Recent Posts:</h3>
  <% @posts.each do |post| %>
    <div class="post">
      <h4><%= link_to post.title, user_post_path(id: post.id, user_id: @user.id) %></h4>
      <p><%= post.text %></p>
      <div class="post-stats">
        <span><%= post.comments_count %> comments</span>
        <span><%= post.likes_count %> likes</span>
      </div>
      <div class="comments">
        <% post.recent_comments.each do |comment| %>
          <div class="comment">
            <span><%= comment.author.name %>:</span>
            <p><%= comment.text %></p>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <%= button_to "Pagination", users_path, method: :get %>
<%= bootstrap_form_with(model: @post, local: true, class: "text-center") do |form| %>
  <%= form.text_field :title, name: 'post[title]', label: true, class: "form-control form-control-lg mb-3", placeholder: "Title", required: true %>
  <%= form.text_area :text, name: 'post[text]', label: false, class: "form-control form-control-lg mb-3", placeholder: "Text", required: true %>
  <%= form.submit "Create Post", class: "btn btn-primary btn-lg d-block mx-auto" %>
<% end %>


</div>
