<div class="post-container">
  <div class="post-header">
    <h2 class="post-title"><%= @post.title %> By: <%= @post.author.name %></h2>
    <div class="post-stats">
      <span class="likes-count"><%= @post.likes_count %> likes</span>
      <span class="comments-count"><%= @post.comments_count %> comments</span>
    </div>
  </div>
  <div class="post-text">
    <%= @post.text %>
  </div>
</div>

<div class="comments-container">
  <h3>Comments:</h3>
  <ul>
    <% @comments.each do |comment| %>
      <li>
        <span class="comment-author"><%= comment.author.name %>:</span>
        <%= comment.text %>
      </li>
    <% end %>
  </ul>
</div>
