<div class="post-container">
  <div class="post-header">
    <h2 class="post-title"><%= @post.title %> By: <%= @post.author.name %></h2>
    <div class="post-stats">
      <span class="likes-count"><%= @post.likes_count %> likes</span>
      <span class="comments-count"><%= @post.comments_count %> comments</span>
    </div>
  </div>
  <div class="post-text">
    <%= @post.text %>
  </div>
  <div class="post-actions">
    <%= form_with url: user_post_likes_path(@user.id, @post.id), method: :post, class: "form-inline" do |form| %>
      <%= form.button "Like", class: "like-btn" %>
    <% end %>
  </div>
      <% if can? :destroy, @post %>
  <%= button_to 'Delete', user_post_path(@post.author, @post), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
</div>
<div class="comments-container">
  <h3>Comments:</h3>
  <ul class="list-group">
    <% @comments.each do |comment| %>
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
        <% if can? :destroy, comment %>
  <%= button_to 'Delete',user_post_comment_path(@post.author, @post, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
          <span class="comment-author"><%= comment.author.name %></span>
          <span class="comment-date"><%= comment.created_at.strftime("%b %d, %Y %H:%M") %></span>
        </div>
        <div class="comment-text">
          <%= comment.text %>
        </div>
      </li>
    <% end %>
  </ul>

</div>
<%= link_to 'Back', user_path(@user.id) %>
<%= link_to 'Add New Comment',  new_user_post_comment_path(@user, @post) , class: "new-comment-link" %>